<% provide(:title, 'All users') %>
<%= link_to "Log out", logout_path, method: :delete %>
<div class="users">
  <%= will_paginate %>
  
  <ul>
    <%= render @users %>
  </ul>
  
  <%= will_paginate %>
</div>
