<% provide(:title, 'Sign up') %>
<% provide(:button_text, '新規登録') %>
<% provide(:url, signup_path) %>
<div class="signup">
  <h2>Share Images</h2>
  <p>登録して画像をshareしよう</p>
  <%= render "form" %>
  <p>アカウントをすでにお持ちですか? <%= link_to "ログイン", login_path %></p>
</div>

